*{
    box-sizing: border-box;
}
body {
    margin: 0;
    display: grid;
    grid-template-areas: 
    "nav nav"
    "header header"
    "sidebar content"
    "footer footer";
    grid-template-columns: 0.5fr 2fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

body > *{
    padding: 15px;
}
nav {
    background-color: blue;
    grid-area: nav;
}

header {
    background-color: maroon;
    grid-area: header;
}

aside{
    background-color: yellow;
    grid-area: sidebar;
}
main{
    background-color: blueviolet;
    grid-area: content;
}

footer {
    background-color: olivedrab;
    grid-area: footer;
}